* {
	user-select: none;
}

body {
	font-size: 16px;
	background: #133C55;
	background-image: url(../resources/bkg.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
}

p {
	padding: 20px;
}

.guess {
	width: 50%;
}

#replay {
	margin-top: 50px;
}

.answers {
	margin-top: 3%;
	margin-bottom: 3%;
}

#question {
	color: white;
	border-radius: 5px;
	background: #59A5D8;
	height: 75px;
	margin-top: 8%;
	margin-bottom: 3%;
	box-shadow: 3px 3px rgba(89, 165, 216, 0.6);
}

#timer {
	background: #FED766;
	height: 10px;
	border-radius: 30px;
}

.popupcontainer {
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.3);
}

#popup {
	margin: 230px auto;
	padding: 20px;
	position: relative;
	box-shadow: 5px 5px rgba(0, 116, 194, 0.6);
	border-radius: 25px;
	width: 60%;
	background: #59A5D8;
	color: white;
}

#main {
	z-index: 0;
	border-radius: 10px;
	margin-top: 15vh;
	background: #386FA4;
	box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.btn, #timer {
	box-shadow: 2px 2px rgba(20, 20, 20, 0.5);
}

